---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import EmbedContactUs from '~/components/widgets/EmbedContact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!--ContactUs
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  /-->

  <EmbedContactUs />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: "Let's chat",
        description: `<a href="#drift-chat" onClick="drift.api.openChat();" class="anchor dark:text-white highlight hover:text-primary hover:underline text-accent">Chat with us</a> for inquiries about our services, your needs, or call us during business hours to speak with someone.`,
      },
      {
        title: 'Schedule a discovery',
        description:
          'Need help? <a href="https://calendly.com/amp-42/discovery" target="_blank" rel="noopener noreferrer" class="anchor dark:text-white highlight hover:text-primary hover:underline text-accent">Chat with us</a> to Schedule a discovery call with us to discuss your needs and objectives.',
      },
      {
        title: 'Data Garden Community',
        description: 'Join us on the Data Garden Community to discuss your data needs and challenges.',
      },
      {
        title: 'Phone',
        description: '+1 (440) 941-2854',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description:
          '<a href="mailto:inquiry@support.com" class="anchor dark:text-white highlight hover:text-primary hover:underline text-accent">inquiry@amp42.com</a>',
        icon: 'tabler:mail',
      },
      {
        description: `<iframe id="discord-widget"
    width="430"
    height="275"
    allowtransparency="true"
    frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" data-aw-toggle-color-scheme></iframe>`,
      },
    ]}
  />
</Layout>
<script is:inline>
  const runColorMode = (fn) => {
    if (!window.matchMedia) {
      return;
    }

    const query = window.matchMedia('(prefers-color-scheme: dark)');

    fn(query.matches);

    query.addEventListener('change', (event) => fn(event.matches));
  };

  runColorMode((isDarkMode) => {
    console.log('Changed!');
    if (isDarkMode) {
      updateTheme('dark');
    } else {
      updateTheme('light');
    }
  });

  // Function to update the UI theme
  function updateTheme(theme) {
    const discordIframe = document.getElementById('discord-widget');
    console.log(discordIframe + ' ' + theme);
    discordIframe.setAttribute('src', 'https://discord.com/widget?id=1148674036109418558&theme=' + theme);
  }
</script>
