---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Book a Meeting', href: 'https://calendly.com/amp42/discovery', icon: 'tabler:calendar' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Data driven technology strategy leveraging the
      <span class="text-accent dark:text-white highlight"> Modern Data Stack</span> to transform your business
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AMP 42</span> empowers businesses to succeed by leveraging the latest in data-driven
        technology strategy and the Modern Data Stack.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AMP 42: Expert Solutions</span> We help transform businesses
      through our expertise in data engineering, analytics, and visualization, enabling our clients to make better-informed
      decisions and achieve their goals.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Services"
    title="Technology planning and data and analytics engineering strategy"
    subtitle="We leverage decades of collective knowledge, real-world experience and know-how to deliver success for our clients and partners in these areas."
    items={[
      [
        {
          title: 'IT Strategy & Roadmapping',
          description:
            'With our expertise in both business and technology, our team helps align technology investments to your business strategy and drive top line growth while maximizing value as you bring your strategy to life.',
          icon: 'road',
        },
        {
          title: 'Vendor Advisory & Resource Planning',
          description:
            'Our collective business experience enables us to help provide an independent, pragmatic, and thoughtful approach to sifting through the hype and matching a solution to your unique challenges.',
          icon: 'tabler:checkup-list',
        },
        {
          title: 'M&A Systems Integration',
          description:
            'Marrying two organizations is a tricky proposition but aligning processes and systems doesn’t have to be the bottleneck. We help companies from the earliest stages of planning to the final cutover.',
          icon: 'topology-star-ring-3',
        },
        {
          title: 'Strategy Alignment Workshops',
          description:
            'Key stakeholder interviews to understand how departmental goals and desired projects align with corporate strategy will assist in shaping cross-functional strategy alignment workshops.',
          icon: 'users-group',
        },
      ],
      [
        {
          title: 'Data Strategy & Governance',
          description:
            'Our data strategy and governance model provides an achievable vision and flexible framework to improve the effectiveness of data assets without disrupting your business operations.​',
          icon: 'tabler:compass',
        },
        {
          title: 'Data Management & Operations',
          description:
            'We advise organizations on managing and optimizing data operations, ensuring data quality, implementing observability policies, and creating efficient workflows to support data-driven decision-making.',
          icon: 'database-cog',
        },
        {
          title: 'Data Migration Consulting',
          description:
            'Whether it’s moving to the cloud or to a new platform, data migration creates a sizable impact on your business and daily operations. Our data migration services enable rapid movement of your data with an effective, efficient, and secure approach.',
          icon: 'stack-pop',
        },
        {
          title: 'Data Unification & Activation',
          description:
            'We help clients unify and activate data from disparate sources to derive insights and drive actions.',
          icon: 'brand-snowflake',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Inside AMP 42"
    title="Our work speaks for itself..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technology Partners and Vendors"
    subtitle="Our network of partners and vendors platforms help us deliver world-class solutions"
    highlight=""
    items={[
      {
        title: 'Snowflake',
        description:
          'Snowflake is a multi-vendor cloud data platform built on a hybrid (shared-disk and shared-nothing) high-performance scalable database architecture.',
        icon: 'logos:snowflake-icon',
      },
      {
        title: 'Fivetran',
        description:
          'Fivetran is an automated data integration platform that simplifies data replication from disparate data sources into an organization’s data warehouse.',
        icon: 'fivetran-icon',
      },
      {
        title: 'Databricks',
        description:
          'Databricks is a unified set of tools for building, deploying, sharing, and maintaining enterprise-grade data solutions at scale.',
        icon: 'databricks-icon',
      },
      {
        title: 'Syncari',
        description:
          'Syncari provides a data automation platform that empowers operations professionals to unify, clean, manage, and distribute trusted customer data across the enterprise.',
        icon: 'syncari-logo-icon',
      },
      {
        title: 'dbt',
        description:
          'Acting as a self-documenting orchestration layer on top of your data warehouse, dbt enables data teams to improve and accelerate data transformation and integration processes with SQL and Python.',
        icon: 'dbt-icon',
      },
      {
        title: 'Segment',
        description:
          'Segment is a customer data infrastructure (CDI) platform that collects, stores and routes data from users to hundreds of tools and digital properties.',
        icon: 'logos:segment-icon',
      },
      {
        title: 'ZoomInfo',
        description:
          'ZoomInfo is a software as a service (SaaS) company that provides detailed information on millions of businesses and business professionals.',
        icon: 'zoominfo-icon',
      },
      {
        title: 'Datalogz',
        description:
          'Datalogz is a BI Ops solution that enables teams to bridge the gaps in their business intelligence environment.',
        icon: 'datalogz-icon',
      },
      {
        title: 'Hex.tech',
        description:
          'Hex is a modern data platform for data science and analytics. Collaborative notebooks, beautiful data apps and enterprise-grade security.',
        icon: 'hex-icon',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Migrations', value: '132K' },
      { name: 'Roadmaps', value: '24.8K' },
      { name: 'Replatforms', value: '10.3K' },
      { name: 'Customers', value: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Book a Meeting',
      href: 'https://calendly.com/amp42/discovery',
      icon: 'tabler:calendar',
    }}
  >
    <Fragment slot="title">
      AMP 42&nbsp; <br class="block sm:hidden" /><span
        class="text-accent dark:text-white highlight sm:whitespace-nowrap"
      >
        Excellence in technology and data strategy</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
